$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1440px,
);

@import "../node_modules/bootstrap/scss/bootstrap";

//https://coolors.co/ffffff-e71d36-17a2b8-26547c-113e88
//Colors Right to Left
.bgc-1 {
    background-color: #0A2458;
};
.bgc-2 {
    background-color: #113E88;
};
.bgc-3 {
    background-color: #17A2B8;
};
.bgc-4 {
    background-color: #FFFFFF;
};
.bgc-5 {
    background-color: #E71D36;
};